@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

@layer components {
    .blog-post-content h1 {
        @apply text-red-500 mb-5;
    }
    
    .blog-post-content p {
        @apply mb-2 text-gray-500;
    }
    
    .blog-post-content ul {
        @apply pl-10 list-disc;
    }
}